/* src/components/WorkoutPlanner.css */
.workout-planner {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  li {
    margin-right: 20px;
  }
  
  h4 {
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  label select, label input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  
  button.remove-exercise {
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button.remove-exercise:hover {
    background-color: #d94100;
  }
  